.review {
    padding-right: 75px;
}

.user {
    display: flex;
    justify-content: space-between;
}

.user>button {
    align-self: center;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    border: none;
}
