.SpotDetails {
    padding-top: 5px;
}

.SpotDetailsLine {
    height: 1px;
    background-color: #dddddd;
    width: 650px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.SpotDetailsLine2 {
    height: 1px;
    background-color: #dddddd;
    margin-bottom: 24px;
    margin-top: 24px;
}

/* ---------------------Spot images------------------------------ */

.SpotImages {
    display: flex;

    height: 51vh;
    width: 100%;

    margin-top: 18px;
    gap: 8px;
    border-radius: 12.5px;
    overflow: hidden;
}

.SpotImagesLeft {
    object-fit: cover;
    width: 50%;
}

.SpotImagesRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.SpotImagesRightRow {
    display: flex;
    height: 50%;
    gap: 8px;
}

.SpotImagesRightRow>img {
    object-fit: cover;
    width: 50%;
}

/* ---------------------Spot details------------------------------ */

.SpotDetailsBody {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.SpotDetailsDescription {
    width: 650px;
}

.DescBook {
    display: flex;
    gap: 80px;
}

h2 {
    font-size: 21px;
    color: black;
    font-family: 'Poppins-light', sans-serif;
}
