.SpotGrid {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 40px 24px; */
    padding-top: 95px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.SpotGridItem {
    /* background-color: rgb(220, 219, 219); */
    width: 270.5px;
    height: 356.97px;
}

.SpotGridItem>img {
    width: 100%;
    height: 257px;
    object-fit: cover;
    border-radius: 12px;
}

.SpotGridItemDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    font-size: 15px;
    color: #222222;
}

.SpotGridItemFirstRow {
    display: flex;
    justify-content: space-between;
}

.SpotGridItemSubtext {
    color: #5c5c5c;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: -4px;
}

.SpotGridItemStar {
    font-size: 11px;
}

.SpotGridItemStarRating {
    display: flex;
    align-items: center;
    gap: 3.5px;
}

.SpotGridItemPrice {
    margin-top: 4px;
}
