.profileButtonWrapper {
    display: flex;
    flex-direction: column;
}


.profileButton {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid rgb(213, 213, 213);
    background-color: white;

    padding-top: 6px;
    padding-bottom: 6px;

    padding-left: 12.5px;
    padding-right: 7.5px;

    width: 75px;

    align-self: flex-end;
}

.fa-solid.fa-bars {
    font-size: 15px;
    padding-top: 7.5px;
    color: rgb(75, 75, 75);
}

.fas.fa-user-circle {
    font-size: 30px;
    color: rgb(110, 110, 110);
}
